*{
    margin: 0px;
    padding: 0px;
}
header {
    width: 100%;
    height: auto;
    background-color:	#202020 ;
   
}

.container{
     width: 1170px;
     margin: auto;
     display: flex;
    
    
}
.logo i{
    margin-inline-start: 50px;
    
}


nav ul{
    display: flex;
}
nav ul li{
    padding: 8px 8px; 
    list-style: none;
}