
@font-face {
   font-family: Font;
   src: url(/font/sf-pro-text_bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
   width: 100%;
min-height: 100vh;

}

.navbar {
    overflow: hidden;
    display: flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
    background:#080808 ;
    padding: 14px 16px;

}

.header-inner{
  z-index: 99;
  position: absolute;
  background-color: transparent;
}
.nav-item .nav-link{
  display: block;
  font-size: 12px;
  color: #eee;
line-height: 36px;
transition: 0.15s;
  
}
.nav-item .nav-link:hover{
  color:green;
  
}
/* text 
 .navbar a {
    float: left;
    font-size: 12px;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
   
 }
 .d{
    float:left;
    overflow: hidden;
 }
 .d .d-btn{
    font-size: 12px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background: inherit;
 

 }
 .d-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    width: 100%;
    left: 0;
    top: 35px;
    z-index: 10;
   
 }
 .d:hover .d-content {
    display: block;
   
 }
 .column{
    float: left;
    width: 33.33%;
    background: #080808;
    height: 250px;
   



 }
 .column a {
    display: block;
    float: none;
    transition: all 0.5s ease-in;
    text-align: center;
    text-decoration: none;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    

 }
 .column h5{
    color: #eee;
    
 }
 .row::after {
    content: '';
    display: table;
    clear: both;
 }*/

 
 /* text */
 
 .main-1{
   width: 100%;
   position: relative;
   height: 60vh;
   margin-top: 30px;
  background-color:#eee;
 }
/* text */
.text{
   position: absolute;
   display: flex;
   justify-content: center;
   flex-direction: column;
  top: 30%;
  left: 50%;
  gap: 1vh;
  text-align: center;
  color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-50%, -50%);
   }

 .main-1 img{
   width: 100%;
   height: 600px;
 }

 .text h1{
   font-size:4vw ;
 }
 .text p {
   font-size: 2.3vw;
 }

 .link{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2vw;

 }
 .link a{
   text-decoration: none;
   color: rgb(26,141,242);
   font-size: 1.4vw;
   margin-top: 10px;
   transition: all  cubic-bezier(0.19, 1, 0.22, 1) 1s;
   
 }
 .link i{
   text-decoration: none;
   color: rgb(26,141,242);
   font-size: 1.7vw;
   margin-top: 10px;
 }

 .link a:hover{
   text-decoration: underline;
}
.link i{
   position: absolute;
   left: 254px;
size: 1px;
}
.link2{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3vw;

 }
.link2 a{
   text-decoration: none;
   position: relative;
   color: rgb(26,141,242);
   font-size: 1.4vw;
   margin-top: 10px;
  
   
 }
.link2 i{
   text-decoration: none;
   color: rgb(26,141,242);
   font-size: 1.7vw;
   margin-top: 10px;
 }

 .link2 a:hover{
   text-decoration: underline;
 }
.link2 i{
   position: absolute;
   left: 315px;
size: 1px;
}
/* main 2 */
.main-2{
   width: 100%;
   margin-top: 280px;
   position: relative;
   height: 60vh;
  background-color:#eee;

 }
 .main-2 img{
   width: 100%;
   height: 550px;
 }
 .text2{
   position: absolute;
   display: flex;
   justify-content: center;
   flex-direction: column;
  top: 30%;
  left: 50%;
  gap: 1vh;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-50%, -50%);
   }
   .linkp{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2vw;
   
    }
    .linkp a{
      text-decoration: none;
      color: rgb(26,141,242);
      font-size: 1.4vw;
      margin-top: 10px;
      transition: all  cubic-bezier(0.19, 1, 0.22, 1) 1s;
      
    }
    .linkp i{
      text-decoration: none;
      color: rgb(26,141,242);
      font-size: 1.7vw;
      margin-top: 10px;
    }
   
    .linkp a:hover{
      text-decoration: underline;
   }
   .linkp i{
      position: absolute;
      left: 254px;
   size: 1px;
   }
   .link2p{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3vw;
   
    }
   .link2p a{
      text-decoration: none;
      position: relative;
      color: rgb(26,141,242);
      font-size: 1.4vw;
      margin-top: 10px;
     
      
    }
   .link2p i{
      text-decoration: none;
      color: rgb(26,141,242);
      font-size: 1.7vw;
      margin-top: 10px;
    }
   
    .link2p a:hover{
      text-decoration: underline;
    }
   .link2p i{
      position: absolute;
      left: 315px;
   size: 1px;
   }
   .text2 h1{
      font-size:4vw ;
    }
    .text2 p {
      font-size: 2.3vw;
    }
    /* main 3 */
    .main-3{
      width: 100%;
      margin-top: 240px;
      position: relative;
      height: 80vh;
      
     background-color:#eee;
    }
    .main-3 video{
   width: 100%;
   height: 180vh;
    }
   
    .text3{
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
     top: 30%;
     left: 50%;
     gap: 1vh;
     text-align: center;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     transform: translate(-50%, -50%);
      }
      .link3{
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 2vw;
      
       }
       .link3 a{
         text-decoration: none;
         color: rgb(26,141,242);
         font-size: 1.4vw;
         margin-top: 10px;
         transition: all  cubic-bezier(0.19, 1, 0.22, 1) 1s;
         
       }
       .link3 i{
         text-decoration: none;
         color: rgb(26,141,242);
         font-size: 1.7vw;
         margin-top: 10px;
       }
      
       .link3 a:hover{
         text-decoration: underline;
      }
      .link3 i{
         position: absolute;
         left: 254px;
      size: 1px;
      }
      .link2p3{
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 3vw;
      
       }
      .link2p3 a{
         text-decoration: none;
         position: relative;
         color: rgb(26,141,242);
         font-size: 1.4vw;
         margin-top: 10px;
        
         
       }
      .link2p3 i{
         text-decoration: none;
         color: rgb(26,141,242);
         font-size: 1.7vw;
         margin-top: 10px;
       }
      
       .link2p3 a:hover{
         text-decoration: underline;
       }
      .link2p3 i{
         position: absolute;
         left: 315px;
      size: 1px;
      }
      .text3 h1{
         font-size:4vw ;
       }
       .text3 p {
         font-size: 2.3vw;
       }